[momoso]
start_url = https://m.momoso.com/api/ios/v1/itemshow/timeline/well_chosen?page=[xrange(31)]&num_per_page=5
path_map = {"list":{"path_type":"jpath",
					"_list":"itemshows|", "_piece":{"text":"content", "pics":"imgs|", "brand":"items||title", "srcId":"id", "tag":"tags"}}}

[biyabi]
start_url = https://openapi.biyabi.com/webservice.asmx/GetShareShoppingInfo
post = UserID=0&Selected=1&TagURL=&Page=[xrange(1,6)]&PageSize=10
headers = {"content-type": "application/x-www-form-urlencoded", "referer": "http://m.biyabi.com/home/showofforder"}
path_map = {"list":{"path_type":"jpath",
					"_list":"|infolist|", "_piece":{"text":"InfoContent", "pics":"ImageTags||imgname", "brand":"InfoTitle", "srcId":"InfoID"}}}

[xiaohongshu]
start_url = http://www.xiaohongshu.com/api/discovery/list2?&_r=1490088970763&oid=category.['52ce1c02b4c4d649b58b8930', '5590c45c15ff00d961fd14e8', '52ce1c02b4c4d649b58b892c', '52ce1c02b4c4d649b58b8936']
path_map = {"list":{"path_type":"jpath",
					"_list":"array|", "_piece":{"title":"title", "text":"desc", "pics":"images_list||url", "brand":"name", "srcId":"id"}}}


[vmei]
start_url = http://m.vmei.com/beauty/post/index/commendV2?pageNo=[xrange(1,15)]&pageSize=20
path_map = {"list":{"path_type":"jpath",
					"_list":"data|posts|", "_piece":{"text":"content", "pics":"pictures||pictureUrl", "brand":"products||product|name", "srcId":"id"}}}

[ymatou]
link_format = http://m.ymatou.com/note/detail?NoteId=%s
start_url = http://m.ymatou.com/note/api/GetSocialDiscoverList?Page=[xrange(5)]&pageSize=10&AccessToken=&UserID=&Cookieid=&yid=
path_map = {"list":{"path_type":"jpath",
					"_list":"Result|", "_piece":{"pics":"NoteInfo|TagImage||Pic", "srcId":"NoteInfo|NoteId", "link":"NoteInfo|NoteId"}},
			"detail":{"text":"//*[@class='detail-text']//text()", "brand":"//*[@class='goods-name']//text()", "tag":"//*[@data-tag-id]//text()"}}

[dealmoon]
update = yes
link_format = http://cn.dealmoon.com/post/ajax/detail?id=%s
start_url = http://cn.dealmoon.com/post/ajax/recommend?pageNum=[xrange(1,37)]
path_map = {"list":{"_list":"/html/body/div", "_piece":{"srcId":"a/@data-id", "link":"a/@href"}},
		    "detail":{"text":"/html/body/div[3]//text()", "tag":"/html/body/div[4]//text()", "brand":"/html/body/div[5]//a/@title", "pics":"/html/body/div[1]/div/img/@src+/html/body/div[1]//img/@data-preview"}}

[wx]
start_url = [line.replace('\n','') for line in open('config/wxLink.csv')]
path_map = {"list":{"_list":"//h2/span[1]", "_piece":{"link":"a/@href", "date":"span[1]/text()", "srcId":"a/@href"}},
		    "detail":{"title":"//h2[@id='activity-name']/text()", "text":"//*[@id='js_content']//text()", "pics":"//*[@id='js_content']//img/@src", "source":"//*[@id='post-user']/text()"}}

[weibo]
#start_url = http://weibo.com/p/aj/v6/mblog/mbloglist?domain=100505&id=['1005055139560418&page=[xrange(1,106)]', '1005052132734472&page=[xrange(1,6147)]', '1005053622512610&page=[xrange(1,2455)]', '1005052453133954&page=[xrange(1,426)]', '1005053737972773&page=[xrange(1,927)]', '1005053694919990&page=[xrange(1,2356)]', '1005055098547539&page=[xrange(1,132)]', '1005055621509969&page=[xrange(1,22)]', '1005055614958769&page=[xrange(1,35)]', '1005052763358415&page=[xrange(1,64)]', '1005053479290910&page=[xrange(1,804)]', '1005051683010871&page=[xrange(1,698)]', '1005055747171173&page=[xrange(1,41)]', '1005055699464823&page=[xrange(1,30)]', '1005053368110604&page=[xrange(1,311)]', '1005055208724334&page=[xrange(1,853)]', '1005052148626094&page=[xrange(1,238)]', '1006065073481692&page=[xrange(1,288)]', '1005052626682903&page=[xrange(1,580)]', '1005052106307450&page=[xrange(1,21)]', '1005055984880413&page=[xrange(1,3)]', '1005051908512543&page=[xrange(1,3)]', '1005055129218133&page=[xrange(1,2)]', '1002061306731842&page=[xrange(1,43)]']
#start_url = http://weibo.com/p/aj/v6/mblog/mbloglist?domain=100505&id=['1006062029912903&page=[xrange(1,311)]', '1005055771528997&page=[xrange(1,28)]']
start_url = http://weibo.com/p/aj/v6/mblog/mbloglist?domain=100505&id=['1005052126870482&page=[xrange(1,70)]', '1005051897320685&page=[xrange(1,45)]']
headers = {"Cookie":"SUB=_2AkMvgGa5dcPxrAVQkP8UzWvraItH-jycVQ9PAn7uJhMyAxh77k0DqSWtoWTW9trCGuzZhlHfvqetXg6hoA.."}
path_map = {"list":{"path_type":"pipe", "_pipe":[{"path_type":"jpath", "_out":"data"}, {"_list":"//div[@diss-data='']/div[1]/div[3]", "_piece":{"text":"div[position()>2]//text()", "pics":"div[position()>3]//img/@src", "source":"div[1]//text()", "srcId":"div[2]/a/@name"}}]}}

#[55bbs]
#start_url = http://bbs.55bbs.com/forum-['19-[xrange(1,6269)]', ['188-[xrange(1,6801)]']].html
#path_map = {"list":{"_list":"//*[starts-with(@id,'normalthread_')]", "_piece":{"title":"tr/th[1]/span[1]/a/text()", "link1":"tr/th[1]/span[1]/a/@href", "link2":"tr/td[2]/cite/a/@href", "srcId":"tr/th[1]/span[1]/a/@href"}},
#		    "detail":{"text":"//*[@class='card_note_matter']/div[1]//text()", "pics":"//*[@class='card_note_matter']//img/@data-original", "source":"//*[@class='card_tit_con']/a[2]/text()"}}
#
[guoku]
start_url = https://m.guoku.com/articles/?page=[xrange(1,14)]
path_map = {"list":{"_list":"//*[@class='article-title']", "_piece":{"link":"a/@href", "srcId":"a/@href"}},
		    "detail":{"title":"//*[@itemprop='headline']/text()", "text":"////*[@itemprop='articleBody']//text()", "pics":"//*[@itemprop='articleBody']//img/@src"}}

#[kimiss]
#start_url = http://ranking.kimiss.com/
#start_type = list1
#path_map = {"list1":{"_list":"//div[@class='sidebar_list_item2']", "_piece":{"link":"a/@href"}},
#		    "list2":{"_list":"//div[@class='art_list1_item1']", "_piece":{"link":"a/@href"}},
#			"list":{"_list":"//*[@class='f_re_rig']", "_piece":{"title":"h4//text()", "text":"p//text()", "pics":"//*[@class='f_re_img']//img/@src", "srcId":"h4/a/@href"}}}
#
[meishai]
start_url = http://www.meishai.com/ajax/getpostlist?page=[xrange(1,28)]
link_format = http://www.meishai.com/post/%s
path_map = {"list":{"path_type":"jpath",
					"_list":"data|", "_piece":{"link":"pid", "srcId":"pid"}},
			"detail":{"text":"//*[@class='content']//text()", "pics":"//*[@class='pics']//img/@src", "tag":"//*[@class='topic']//text()", "source":"//*[@class='topic']/li[1]//text()"}}

[yidoutang]
start_url = http://www.yidoutang.com/case/0-0-0-0-5-0-p[xrange(1,10)]/
path_map = {"list":{"_list":"//h2[@class='title']", "_piece":{"link":"a/@href", "srcId":"a/@href"}},
		    "detail":{"title":"//h1/text()", "text":"//*[starts-with(@class, 'case-content')]//text()", "pics":"//img/@delayload", "source":"//*[@class='current-position']/a[2]/text()"}}

#[t100]
#start_url = http://n.t100.cn/Handler/Product.ashx?ac=album
##post = tag=['185,187&pageIndex=[xrange(1,240)]', '185,29487&pageIndex=[xrange(1,385)]', '185,16723,25589,25589&pageIndex=[xrange(1,221)]', '185,395&pageIndex=[xrange(1,365)]', '28672,185,28672&pageIndex=[xrange(1,60)]', '25586,185,1&pageIndex=[xrange(1,22)]', '25586,185,25327,186&pageIndex=[xrange(1,30)]', '25586,185,25327,187&pageIndex=[xrange(1,17)]']&FolderID=
#post = tag=['185,187&pageIndex=[xrange(239,0,-1)]', '185,29487&pageIndex=[xrange(384,0,-1)]', '185,16723,25589,25589&pageIndex=[xrange(221,0,-1)]', '185,395&pageIndex=[xrange(364,0,-1)]', '28672,185,28672&pageIndex=[xrange(59,0,-1)]', '25586,185,1&pageIndex=[xrange(21,0,-1)]', '25586,185,25327,186&pageIndex=[xrange(29,0,-1)]', '25586,185,25327,187&pageIndex=[xrange(16,0,-1)]']&FolderID=
##headers = {"Cookie":"TUser=ID=292370&Key=0E2F456D", "Content-Type":"application/x-www-form-urlencoded"}
#headers = {"Cookie":"TUser=ID=292494&Key=E60A6AB1", "Content-Type":"application/x-www-form-urlencoded"}
##link_format = http://brand.t100.cn/report.aspx?aid=%s
#link_format = http://n.t100.cn/Handler/Photo.ashx?ac=GetAlbumList;+post=albumID=%s&pageIndex=1&pageSize=500
#path_map = {"list":{"path_type":"jpath", "_list":"info|list|", "_piece":{"link":"ID", "srcId":"ID", "title":"Name"}},
#		   "detail":{"path_type":"jpath", "pics":"info|list||PreShow"}}
#
#[cloudokids]
#dynamic = list
#start_url = http://cn.cloudokids.com/['%E5%A9%B4%E5%84%BF#/pageSize=18&orderBy=0&pageNumber=[xrange(1,65)]', '%E5%A5%B3%E5%AD%A9#/pageSize=18&orderBy=0&pageNumber=[xrange(1,124)]', '%E7%94%B7%E5%AD%A9#/pageSize=18&orderBy=0&pageNumber=[xrange(1,85)]', '%E7%AB%A5%E9%9E%8B#/pageSize=18&orderBy=0&pageNumber=[xrange(1,23)]', '%E7%8E%A9%E5%85%B7-%E7%A4%BC%E7%89%A9#/pageSize=18&orderBy=0&pageNumber=[range(1,4)]']
#path_map = {"list":{"_list":"//div[@class='details']", "_piece":{"brand":"h2[@class='brand-title']//text()", "title":"h2[@class='product-title']//text()", "link":"h2[@class='product-title']//a/@href", "srcId":"h2[@class='product-title']//a/@href"}},
#		   "detail":{"pics":"//div[@class='picture-thumbs ']/a/@data-full-image-url", "text":"//div[@class='full-description']//text()", "source":"//*[@class='breadcrumb']//li[2]//span[@itemprop]/text()"}}
#
#[xiaohongshu:童装]
#start_url = http://m.xiaohongshu.com/api/snsweb/v1/get_discovery_list_by_user_id?user_id=580638bd50c4b42dd353ae3f&offset_id=58ec658137cec978970f7801
#link_format = http://m.xiaohongshu.com/discovery/item/%s
#path_map = {"list":{"path_type":"jpath", "_list":"data|", "_piece":{"link":"id", "srcId":"id"}},
#		   "detail":{"text":"//div[@class='note-desc']/p[1]//text()", "title":"//div[@class='note-desc']/h2/text()", "tag":"//div[@class='note-desc']/p[2]/text()", "pics":"//*[@class='goods-images-list j_goods_image']//img/@src"}}
#
[zintao]
start_url = http://m.zintao.com/share/index
post = type=json&['page=[xrange(1,16)]&classid=5', 'page=[xrange(1,10)]&classid=13', 'page=[xrange(1,10)]&classid=14', 'page=[xrange(1,5)]&classid=12', 'page=[xrange(1,14)]&classid=10']
headers = {"Content-Type": "application/x-www-form-urlencoded"}
#link_format = http://m.zintao.com/share/detail?id=%s
path_map = {"list":{"path_type":"jpath", "_list":"data|", "_piece":{"srcId":"share_id", "title":"share_title", "text":"cover_content|desc+detail_content||text", "pics":"detail_content||pic", "tag":"tags|cate||cn", "source":"tags|cate|0|cn"}}}

#[pcbaby]
#start_url = http://product.pcbaby.com.cn/zx/pc/['fs/index_[range(9)]', 'ry/index_[range(17)]'].html
#path_map = {"list":{"_list":"//*[@class='aList-title']", "_piece":{"link":"a/@href", "srcId":"a/@href"}},
#		   "detail":{"_before":"lambda x: x.replace('#src','pcbabysrc')", "title":"//h1/text()", "text":"//*[@class='artText']//p//text()", "pics":"//*[@class='artText']//img[@title]/@pcbabysrc", "source":"//*[@class='position mb10 head-art']/a[8]/text()"}}
#
#[zhihu]
#start_url = https://www.zhihu.com/['topic/19552735/top-answers?page=[range(1,5)]', 'collection/37318334?page=[range(1,7)]']
#link_format = https://www.zhihu.com/api/v4/%s/answers?include=data[*].is_normal,is_sticky,collapsed_by,suggest_edit,comment_count,can_comment,content,voteup_count,reshipment_settings,comment_permission,mark_infos,created_time,updated_time,relationship.is_authorized,is_author,voting,is_thanked,is_nothelp,upvoted_followees;data[*].author.badge[?(type=best_answerer)].topics&offset=0&limit=20&sort_by=default
#path_map = {"list":{"_list":"//h2[@class='zm-item-title']", "_piece":{"link":"a/@href", "srcId":"a/@href", "title":"a/@text"}},
#		   "detail":{"path_type":"jpath", "text":"data||content"}}
#
[xiachufang]
start_url = http://www.xiachufang.com/search/?keyword=%E8%BE%85%E9%A3%9F&cat=1001&page=[range(1,15)]
path_map = {"list":{"_list":"//*[@class='normal-recipe-list']//li", "_piece":{"link":"a/@href", "srcId":"a/@href"}},
		   "detail":{"title":"//h1/text()", "text":"//*[@class='block recipe-show']//text()", "pics":"//*[@class='steps']//img/@src+//*[@class='block recipe-show']/div[1]/img/@src"}}

#[ikea]
#start_url = http://www.ikea.com/cn/zh/ideas/[x['roomId'] for x in json.loads(open('config/ikea.txt').read())['ideas1']]/
#start_type = detail
#path_map = {"detail":{"title":"//h1//text()", "text":"//div[@class='ideasCloseUpDescription']//text()+//div[@class='roomHotSpotComponent']//text()", "pics":"//div[@id='component-main-image']//img/@src+//div[@class='roomHotSpotComponent']//img/@src"}}
#
[pclady1]
start_url = http://my.pclady.com.cn/common/hotSubjectList.jsp?['collegeId=41&pageNum=[range(1,4)]&type=3', 'collegeId=23&pageNum=[range(1,6)]&type=3']
path_map = {"list":{"_list":"//*[@class='iLink']", "_piece":{"link":"a/@href", "title":"a/@title"}},
		    "detail":{"text":"//*[@class='aDetail']//text()", "pics":"//*[@class='aDetail']//img/@src2"}}

[pclady2]
start_url = http://cosme.pclady.com.cn/products_list/br0_bs0_bi0_sm0_ef0_pb0_pe0_or0_p[range(1,10)].html
start_type = list1
path_map = {"list1":{"_list":"//*[@class='iInfo']", "_piece":{"link":"span[1]/a/@href", "brand":"span[1]/a/text()", "tag":"span[2]//text()"}},
		    "list2":{"_list":"//*[@class='uCmt uSpec']//a", "_piece":{"link":"@href"}},
		    "detail":{"text":"//*[@class='uCmt']//text()", "pics":"//*[@class='uCmt']//img/@src"}}

[douguo]
start_url = http://www.douguo.com/caipu/[quote('幼儿食谱')+'/[range(0,121,30)]',quote('学龄前')+'/[range(0,121,30)]',quote('婴儿（10-12个月）')+'/[range(0,121,30)]',quote('婴儿（6-8个月）')+'/[0,30]',quote('婴儿（8-10个月）')+'/[range(0,91,30)]']
path_map = {"list":{"_list":"//*[@class='cp_box']", "_piece":{"link":"a/@href", "srcId":"a/@href"}},
		   "detail":{"text":"//*[@class='retew r3 pb25 mb20']//text()", "pics":"//*[@rel='recipe_img']/@href", "title":"//h1//text()"}}

[nggirl]
start_url = https://cli.nggirl.com.cn/nggirl/app/cli/homePage/getPostListByColumn/3.0.0?app_id=h5gzh&version=4.0&['columnId=17&pageNum=[range(1,5)]','columnId=19&pageNum=[range(1,18)]', 'columnId=15&pageNum=[range(1,7)]', 'columnId=16&pageNum=[range(1,6)]']
link_format = https://ugc.nggirl.com.cn/nggirl/app/cli/post/getArticlePostDetail/4.0.0?app_id=h5gzh&version=4.0&postId=%s&postType=1
path_map = {"list":{"path_type":"jpath", "_list":"data|", "_piece":{"link":"postId", "srcId":"postId", "title":"title"}},
		    "detail":{"path_type":"jpath", "text":"data|article||content", "pics":"data|article||content"}}

[app887]
start_url = https://api_makeup.app887.com/api/Articles.action?opc=10&npc=[range(15)]&type=%E5%8C%96%E5%A6%86%E6%8A%80%E5%B7%A7
link_format = http://api_makeup.app887.com/api/GetHtmlCode.action?id=%s
path_map = {"list":{"path_type":"jpath", "_list":"root|list|", "_piece":{"link":"ID", "srcId":"ID", "title":"title"}},
		   "detail":{"path_type":"pipe", "_pipe":[{"path_type":"jpath", "_out":"root|content|content"}, {"text":"//p/text()", "pics":"//img/@src"}]}}

[zhefengle]
start_url = https://h5api.zhefengle.cn/meiquan/get_show_product_for_boutique.html?historyRecordId=249105&page=[range(1,400)]&type=1
path_map = {"list":{"path_type":"jpath", "_list":"model|rsList|", "_piece":{"text":"content", "pics":"imgUrl||url", "srcId":"id"}}}

[diywoju]
start_url = http://www.diywoju.com/?cat=['1&paged=[range(1,8)]','4&paged=[range(1,8)]','16&paged=[range(1,7)]']
path_map = {"list":{"_list":"//article//h2", "_piece":{"link":"a/@href", "title":"a/text()", "srcId":"a/@href"}},
		   "detail":{"text":"//article//p//text()", "pics":"//article//img/@src"}}

[mglife]
start_url = http://www.mglife.me/api/channels/1/items?limit=21&offset=[range(1,347,21)]
link_format = http://www.mglife.me/posts/%s
path_map = {"list":{"path_type":"jpath", "_list":"data|items|", "_piece":{"link":"id", "srcId":"id", "title":"title"}},
		   "detail":{"text":"//*[@class='content']//text()", "pics":"//*[@class='content']//img/@src"}}

[lofter]
start_url = http://fashionnotes.lofter.com/?page=[range(1,18)]
path_map = {"list":{"_list":"//*[@class='cover']", "_piece":{"link":"a/@href", "srcId":"a/@href"}},
		   "detail":{"text":"//*[@class='text']//text()", "pics":"//*[@class='pic']//img/@src"}}

[truebuty]
start_url = http://www.truebuty.com/page/[range(1,7)]
path_map = {"list":{"_list":"//h2", "_piece":{"link":"a/@href", "srcId":"a/@href", "title":"a/text()"}},
		   "detail":{"text":"//article//text()", "pics":"//article//img/@src"}}

[diaox2]
start_url = http://c.diaox2.com/cms/diaodiao/pcsite/goodthing_feed_list.json
path_map = {"list":{"_before":"lambda x:x[3:-2]", "path_type":"jpath", "_list":"goodthing_feed_list|", "_piece":{"link":"url", "srcId":"url", "title":"title|"}},
		   "detail":{"text":"//*[@class='total']//text()", "pics":"//*[@class='total']//img/@src"}}

[ibantang]
start_url = http://www.ibantang.com/topic/getHomeTopicList?type=topic_list_by_attribute&extend=['21&page=[range(11)]','11&page=[range(22)]','3&page=[range(30)]','20&page=[range(12)]','13&page=[range(41)]','2&page=[range(13)]','12&page=[range(8)]','14&page=[range(13)]','1&page=[range(23)]']&pagesize=30
link_format = http://www.ibantang.com/topic/%s/
path_map = {"list":{"path_type":"jpath", "_list":"data|topic|", "_piece":{"title":"title", "link":"id", "srcId":"id"}},
		   "detail":{"text":"//*[@class='topic-desc']//text()+//*[@class='product-list']/div/p//text()", "pics":"//*[@class='product-list']/div/img/@src"}}

[smzdm]
start_url = http://post.smzdm.com/json_more?channel=ycList&timesort=[str(int(time.time()))]&main_category=['5&category_id=75&tag_id=0&filter=category_fenlei', '0&category_id=0&tag_id=25837&filter=tag', '0&category_id=0&tag_id=19787&filter=tag']&pagetype=timesort
link_format = http:%s
path_map = {"list":{"path_type":"jpath", "_list":"", "_piece":{"title":"full_title", "link":"url", "srcId":"id", "ts":"timesort"}},
		   "detail":{"text":"//div[@itemprop='description']/p/text()", "pics":"//div[@itemprop='description']/p/img/@src"}}

[xinpinget]
start_url = https://api.xinpinget.com/timeline/listSegments?token=k1PubpC2cjcCOxCf9S9mdOH6
post = 
path_map = {"list":{"path_type":"jpath", "_list":"result||items||review", "_piece":{"title":"title", "link":"entityId", "srcId":"_id"}},
		   "detail":{"path_type":"jpath", "text":"result|mainContents||text", "pics":"result|mainContents||img"}}
link_format = http://api.xinpinget.com/remote/share/review/%s

[bbtkids]
start_url = https://m.bbtkids.cn/1.0/uiforum/getFeedList
path_map = {"list":{"path_type":"jpath", "_list":"data|feedList|", "_piece":{"text":"look|lookDesc|content", "srcId":"look|lookId", "sortId":"sortId", "pics":"look|picUrl"}}}

[douban]
start_url = https://www.douban.com/group/528576/discussion?start=[25*x for x in xrange(0,145)]
path_map = {"list":{"_list":"//td[@class='title']", "_piece":{"link":"a/@href", "title":"a/text()", "srcId":"a/@href"}},
		   "detail":{"text":"//*[@class='topic-content']//text()", "pics":"//*[@class='topic-content']//img/@src"}}

